/* preset styles */
@font-face {
    font-family: 'FatfontInline';
    src: url('fonts/FatfontInline.woff2') format('woff2'),
        url('fonts/FatfontInline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: skyblue;
    background-image: url('images/landscape-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 500px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    font-family: 'FatfontInline';
}

h1 {
    margin: 50px;
    font-size: 50px;
    width: 800px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 20px #70ccda;
}

/* overflow: hidden 
hides the bottom half of the circle shaped rainbow divs */
.container {
    width: 640px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

/* Exercises -  style rainbow divs by class and id.
*/
.rainbow {
    border-width: 20px;
    /*  ^ Number used to calculate sizes and positions of rainbow divs */
    border-color: gray;
    border-style: solid;

    
}

#layer-1 {
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border-color: gray;
}

#layer-2 {
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border-color: gray;
}

#layer-3 {
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border-color: gray;
}

#layer-4 {
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border-color: gray;
}

#layer-5 {
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border-color: gray;
}

#layer-6 {
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border-color: gray;
}

#layer-7 {
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border-color: gray;
}