/* preset styles */
@font-face {
    font-family: 'FatfontInline';
    src: url('fonts/FatfontInline.woff2') format('woff2'),
        url('fonts/FatfontInline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: skyblue;
    background-image: url('images/landscape-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 500px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    font-family: 'FatfontInline';
}

h1 {
    margin: 50px;
    font-size: 50px;
    width: 800px;
    text-align: center;
    color: #fff;
}

/* preset container styles - instructors LIVE introduce overflow: hidden */
.container {
    width: 640px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

/* students style rainbow divs by class and id.
Reminders: border-radius to make a square into a circle, position absolute.
*/
.rainbow {
    position: absolute;
    border-radius: 50%;
    border: 20px solid transparent;
    background: transparent;
}

#layer-7 {
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border-color: #FF0000;
}

#layer-6 {
    top: 20px;
    left: 20px;
    width: 560px;
    height: 560px;
    border-color: rgb(255,165,0);
}

#layer-5 {
    top: 40px;
    left: 40px;
    width: 520px;
    height: 520px;
    border-color: #FFFF00;
}

#layer-4 {
    top: 60px;
    left: 60px;
    width: 480px;
    height: 480px;
    border-color: #008000;
}

#layer-3 {
    top: 80px;
    left: 80px;
    width: 440px;
    height: 440px;
    border-color: rgb(0,0,255);
}

#layer-2 {
    top: 100px;
    left: 100px;
    width: 400px;
    height: 400px;
    border-color: #4B0082;
}

#layer-1 {
    top: 120px;
    left: 120px;
    width: 360px;
    height: 360px;
    border-color: rgb(138,43,226);
}

/* Homework 1 - activate the rainbow with :hover */

.container:hover {
    opacity: 0.5;
    transition: 1s all linear;
}

/* Use the <span> tag to color the words in the heading */

#r {
    color: #FDBCBC;
}

#a {
    color: rgb(253, 221, 188);
}

#i {
    color: #FDFDBC;
}

#n {
    color: #BCFDDD;
}

#b {
    color: rgb(188, 220, 253);
}

#o {
    color: #D0BCFD;
}

#w {
    color: rgb(240, 188, 253);
}