* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Anton', sans-serif;
    background-image: url('images/paint.png');
    background-size: cover;
    height: 100vh;
    min-height: 800px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 60px;
}

.container {
    width: 800px;
    height: 600px;
    background-image: url(images/palette-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

.color {
    width: 110px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 30px #000;
    background-color: #fff;
}

#color-1 {
    top: 130px;
    left: 170px;
    background-color: rgba(238, 91, 22, 0.7);
}

#color-2 {
    top: 240px;
    left: 80px;
    background-color: #2D9F47;
}

#color-3 {
    top: 350px;
    left: 200px;
    background-color: rgb(240, 233, 32);
}

#color-4 {
    top: 160px;
    left: 340px;
    background-color: #1E2DB2;
}

#color-5 {
    top: 230px;
    left: 580px;
    background-color: rgb(120, 17, 140);
}