* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Anton', sans-serif;
    background-image: url('images/paint.png');
    background-size: cover;
    height: 100vh;
    min-height: 800px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 60px;
}

.container {
    width: 800px;
    height: 600px;
    background-image: url(images/palette.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}